<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">About</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>
    Journally is a minimalist journal application meant to be used to record
    your thoughts. It's meant to be simple and easy to use, without a lot of
    extra features and quick in performance.
  </p>
  <p>
    Questions or concerns? Reach me at <a href="mailto:d@dfar.io">d@dfar.io</a>.
  </p>
  <p>
    Check out the source at <a href="https://github.com/dfar-io/journally" target="_blank">GitHub</a>.
  </p>
</div>
