<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Register</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <ngb-alert
    *ngIf="!isNullOrWhitespace(modalMessage)"
    type="danger"
    (close)="closeAlert()"
  >
    {{ modalMessage }}
  </ngb-alert>
  <form
    id="registerForm"
    [formGroup]="registerForm"
    (ngSubmit)="submitForm()"
    novalidate
  >
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
        <input
          id="email"
          class="form-control"
          name="email"
          formControlName="email"
          required
          ngbAutofocus
        />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input
          id="password"
          class="form-control"
          name="password"
          type="password"
          formControlName="password"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Verify Password</label>
      <div class="input-group">
        <input
          id="verifyPassword"
          class="form-control"
          name="verifyPassword"
          type="password"
          formControlName="verifyPassword"
          required
        />
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    *ngIf="!isRegistering"
    type="submit"
    form="registerForm"
    class="btn btn-primary btn-standard"
    [disabled]="
      !registerForm.valid ||
      registerForm.value.verifyPassword != registerForm.value.password
    "
  >
    Register
  </button>
  <a href="#" *ngIf="!isRegistering" (click)="backToLogin()">Back to Login</a>
  <span *ngIf="isRegistering" class="text-right">Registering...</span>
</div>
