/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

body {
  background-color: #012345;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
}
