/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

body {
  background-color: #2d1730;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
}

.modal-content {
  background-color: #2d1730;
  border: 1px solid white;
}

.modal-content span {
  color: #fff;
}

.btn.btn-standard {
  background-color: transparent;
  border-color: #fff;
}

.alert {
  color: white;
  border-color: white;
}

.alert.alert-danger {
  background-color: #ff3333;
}
.alert.alert-success {
  background-color: #006600;
}
.alert.alert-warning {
  background-color: #806000;
}

a {
  color: #e48aff;
}

a:hover {
  color: #f3ccff;
}
