<div class="row">
  <ngb-alert
    *ngIf="!isNullOrWhitespace(errorMessage)"
    type="danger"
    [dismissible]="false"
  >
    {{ errorMessage }}
  </ngb-alert>
</div>
<div class="row">
  <p class="col" *ngIf="!areEntriesLoaded">Loading entries...</p>
  <div
    class="col entries"
    *ngIf="areEntriesLoaded && entries !== undefined && entries.length > 0"
  >
    <div *ngFor="let entry of entries" class="row">
      <a [routerLink]="['/entries/', entry.id]" class="col"
        >{{ entry.datetime | date: 'short' }} {{ entry.title }}</a
      >
    </div>
  </div>
  <p
    class="col"
    *ngIf="areEntriesLoaded && entries !== undefined && entries?.length <= 0"
  >
    No entries found.
    <a [routerLink]="['/']">Create your first entry now.</a>
  </p>
</div>
