textarea {
  background-color: #1a0e1c;
  border: 0;
  color: #fff;
  font-size: 1rem;
  resize: none;
  padding: 1rem;
  height: calc(100% - 200px);
  border-radius: 1rem;
}

.form-control:focus {
  background-color: transparent;
  border: 0;
  color: #fff;
  box-shadow: none;
}

textarea:focus {
  background-color: #1a0e1c;
}

h1 {
  text-align: left;
  font-size: 1.6rem;
}

h2 {
  text-align: left;
  font-size: 1rem;
}
/* combine this at some point */
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 10px;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(217, 122, 212)),
    color-stop(0.72, rgb(189, 73, 189)),
    color-stop(0.86, rgb(148, 28, 128))
  );
}

/* .save-row needs to match max-widths for .container */
.save-row {
  margin-right: auto;
  margin-left: auto;
}

label {
  display: block;
  margin-bottom: 0;
  height: 100%;
}

/* needs to match h1 */
input {
  text-align: left;
  font-size: 1.6rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 576px) {
  h1,
  input {
    font-size: 2.5rem;
  }

  textarea {
    height: calc(100% - 225px);
  }

  .save-row {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  textarea {
    font-size: 1.25rem;
  }

  .save-row {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .save-row {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  textarea {
    font-size: 1.5rem;
  }

  .save-row {
    max-width: 1140px;
  }
}
