<div class="container">
  <nav class="navbar">
    <a class="navbar-brand">Journally</a>
    <a
      href="#"
      class="my-2 my-lg-0"
      (click)="openLoginModal()"
      *ngIf="!currentUser"
      >Login</a
    >
    <div *ngIf="currentUser" ngbDropdown class="d-inline-block">
      <button class="btn btn-navbar" id="dropdownBasic1" ngbDropdownToggle>
        {{ currentUser?.email }}
      </button>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-menu dropdown-menu-right"
      >
        <button ngbDropdownItem>Entries</button>
        <button ngbDropdownItem (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
  <div class="row">
    <h1 class="col">{{ entry?.datetime | date: 'short' }}</h1>
  </div>
  <div class="row">
    <div class="col form-group">
      <textarea
        id="content"
        class="form-control"
        name="content"
        required
        autofocus
        placeholder="start your entry here..."
        [(ngModel)]="entry.content"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-row-reverse">
      <button
        type="submit"
        class="btn btn-primary btn-standard"
        (click)="saveEntry()"
      >
        Save
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="#" (click)="openAboutModal()">About/Contact</a>
    </div>
  </div>
</div>
