<div class="container">
  <nav class="navbar">
    <a class="navbar-brand">bluJournal</a>
    <a href="#" class="my-2 my-lg-0" (click)="openModal()">Login</a>
  </nav>
  <div class="row">
    <h1 class="col">{{ entry?.date }}</h1>
  </div>
  <div class="row">
    <form class="col">
      <div class="form-group">
        <textarea
          class="form-control"
          id="content"
          rows="10"
          [value]="entry?.content"
          autofocus
          placeholder="start your entry here..."
        ></textarea>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col d-flex flex-row-reverse">
      <button type="submit" class="btn btn-primary btn-standard">Save</button>
    </div>
  </div>
</div>
