<div class="container">
  <app-navbar
    [currentUser]="currentUser"
    (clickLogin)="openLoginModal()"
    (clickLogout)="logout()"
  ></app-navbar>
  <div class="row">
    <h1 class="col">{{ entry?.datetime | date: 'short' }}</h1>
  </div>
  <div class="row h-100">
    <div class="col form-group">
      <label for="content" aria-label="content" aria-labelledby="content">
        <textarea
          id="content"
          class="form-control"
          name="content"
          required
          autofocus
          placeholder="start your entry here..."
          [(ngModel)]="entry.content"
        ></textarea>
      </label>
    </div>
  </div>
  <div class="row fixed-bottom mb-5 save-row">
    <div *ngIf="!isSaving" class="col d-flex flex-row-reverse">
      <button
        type="submit"
        class="btn btn-primary btn-standard"
        (click)="saveEntry()"
      >
        Save
      </button>
    </div>
    <div *ngIf="isSaving" class="col d-flex flex-row-reverse">Saving...</div>
  </div>
  <div class="row fixed-bottom mb-3">
    <div class="col text-center">
      <a href="#" (click)="openAboutModal()">About/Contact</a>
    </div>
  </div>
</div>
