<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Login</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <ngb-alert
    *ngIf="!isNullOrWhitespace(modalAlert?.message)"
    [type]="modalAlert.type"
    (close)="closeAlert()"
  >
    {{ modalAlert.message }}
  </ngb-alert>
  <form
    id="loginForm"
    [formGroup]="loginForm"
    (ngSubmit)="authenticateUser()"
    novalidate
  >
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
        <input
          id="email"
          class="form-control"
          name="email"
          formControlName="email"
          required
          ngbAutofocus
        />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input
          id="password"
          class="form-control"
          name="password"
          type="password"
          formControlName="password"
          required
        />
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <!-- uses flex-reverse direction, put these in reverse order -->
  <button
    *ngIf="!isLoggingIn"
    type="submit"
    form="loginForm"
    class="btn btn-primary btn-standard"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
  <a *ngIf="!isLoggingIn" href="#" (click)="clickRegister()">Register</a>
  <span *ngIf="isLoggingIn" class="text-right">Logging in...</span>
</div>
